/* ----- Set some useful defaults ----- */
h1, h2, h3, h4, h5, h6, span, div {
    font-family: "Open Sans", sans-serif;
}

h1 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 3em;
}

h1 a {
    color: white;
}

h1 a:hover {
    color: #D9D4FF;
}


@media only screen and (min-width: 530px) {
    h1 {
        font-size: 4em;
    }
}

body {
    background: linear-gradient(white, #f6f6f6);
    min-height: 100vh;
}

.grid-container {
    max-width: 1140px;
}

a {
    font-weight: bold;
    color: #26215e;
    transition: 0.3s ease;
}

a:hover {
    color: #7160aa;
}
/* ----- Header ----- */
header {
    background-color: #26215e;
    text-align: center;
    color: white;
    padding: 1em 4em;
}

/* Navbar */
.top-bar, .top-bar ul {
    background-color: #7160aa;
}

.top-bar {
    margin-bottom: 1.5em;
}

.top-bar-center {
    flex: 1 0 auto;
}

.top-bar ul li a {
    font-weight: 600;
    color: white;
    opacity: 0.9;
    transition: 0.3s ease;
}

.top-bar ul li a:hover {
    opacity: 0.6;
}

/* ----- Portfolio ----- */
.portfolio-item {
    background-image: url("https://via.placeholder.com/1500x1000");
    background-size: cover;
    overflow: hidden;
    height: 0;
    padding-top: calc(1000 / 1500 * 100%);
    border-radius: 12px;
    position: relative;
    box-shadow: 0 5px 5px 0 rgba(233,240,243,0.5), 0 0 0 1px #E6ECF8;
    transition: all 0.3s ease-in-out;
}

.portfolio-item-text {
    color: white;
    font-weight: 600;
    font-size: 1.2em;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}

.portfolio-item-text:hover {
    opacity: 1;
    background-image: linear-gradient(rgba(80, 71, 179, 0.8), rgba(38, 33, 94, 0.8));
    transition: all 0.3s ease-in-out;
}

.portfolio-item-text .button {
    background: transparent;
    border-radius: 100px;
    border: 2px solid #BEADF7;
    transition: all 0.3s ease-in-out;
    margin-top: 1em;
}

.portfolio-item-text .button:hover {
    background-color: #BEADF7;
}

.portfolio-item-text div div {
    margin-top: 2em;
}

/* ----- About Page ----- */
.about-sidebar {
    border-radius: 12px;
    box-shadow: 0 5px 5px 0 rgba(233,240,243,0.5), 0 0 0 1px #E6ECF8;
}

.about-sidebar img {
    border-radius: 12px 12px 0 0;
    width: 100%;
}

.about-sidebar a {
    color: white;
    text-align: center;
    display: block;
    font-size: 1.2em;
    padding: 0.3em 0;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
}

.about-sidebar a:last-child {
    border-radius: 0 0 12px 12px;
}

.about-sidebar a.linkedin {
    background-color: #0077B5;
}

.about-sidebar a.github {
    background-color: #333;
}

.about-sidebar a.devpost {
    background-color: #0abde3;
}

.about-sidebar a:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2));
}

.handwritten {
    font-family: 'Caveat Brush', cursive;
    font-size: 2em;
}

/* ----- Reveal ----- */
.reveal {
    border-radius: 12px;
}

.reveal-overlay {
    background-image: linear-gradient(rgba(80, 71, 179, 0.8), rgba(38, 33, 94, 0.8));
}